.main-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 80px;
  justify-content: center;
}

input,
textarea {
  margin: 10px;
}

button {
  margin: 10px;
}

td {
  padding: 10px;
  border: 1px solid black;
}
